body{
    margin: 0;
    padding: 0;
    background: rgb(52,46,154);
    background: linear-gradient(90deg, rgba(52,46,154,1) 0%, rgba(121,43,9,1) 35%, rgba(170,55,73,1) 70%, rgba(255,158,0,1) 100%);
    width: 100%;
}

.heading{
    background-color: red;
    padding: 20px;
    color: aliceblue;
    font-size: 24px;
}

 .divvv{
    display: flex;
    gap: 50px;
    margin-bottom: 70px;
    width: 25%;
    height: 350px;
    border-radius: 5px;
 }

.hidden{
    display: none;
}

 .note{
    background-color: gray;
    height: 300px;
    width: 400px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}


.operation{
 margin-left: 300px;

}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    background-color: rgb(133, 127, 127);
    color: #333;
    resize: none;
}
.edit{
    font-size: 30px;
    padding: 5px;
    background-color: rgb(144, 144, 220);
    border-radius: 20px;
}
.edit:hover{
   transition: 0.2s;
   transform: scale(1.05);
    cursor: pointer;
}
.delete{
    font-size: 30px;
    padding: 5px;
    background-color: red;
    border-radius: 20px
}
.delete:hover{
    transition: 0.2s;
   transform: scale(1.05);
    cursor: pointer;
}
.main{
    background-color: rgb(46, 46, 46);
    height: 300px;
    width: 400px;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    /* overflow: hidden;  */
    /* word-wrap: break-word;  */
    overflow-wrap: break-word; 
    /* word-break: break-all; */
}
textarea{
    background-color: #3f3b3b;
    color: white;
    height: 200px;
    font-size: 24px;
} 
.add{
    margin-left: 800px;
    padding: 10px;
}
.add button{
    color: white;
    font-size: 30px;
    background-color: black;
    width: 250px;
}
.add button:hover{
   cursor: pointer;
}
.add i{
    color: white;
    font-size: 30px;
}


 
 