body{
    margin: 0;
    padding: 0;
    background: rgb(52,46,154);
    background: linear-gradient(90deg, rgba(52,46,154,1) 0%, rgba(121,43,9,1) 35%, rgba(170,55,73,1) 70%, rgba(255,158,0,1) 100%);
}

.heading{
    background-color: red;
    padding: 20px;
    color: aliceblue;
    font-size: 24px;
}
/* .note{
    position: relative;
    background-color: gray;
    height: 300px;
    width: 400px;
    margin: 0px 100px;
} */