body{
    margin: 0;
    padding: 0;
    background: rgb(52,46,154);
    background: linear-gradient(90deg, rgba(52,46,154,1) 0%, rgba(121,43,9,1) 35%, rgba(170,55,73,1) 70%, rgba(255,158,0,1) 100%);
}

.heading{
    background-color: red;
    padding: 20px;
    color: aliceblue;
    font-size: 24px;
}
/* .note{
    position: relative;
    background-color: gray;
    height: 300px;
    width: 400px;
    margin: 0px 100px;
} */
 .divvv{
    display: flex;
    gap: 50px;
 }

.hidden{
    display: none;
}

.divvv{
    display: flex;
    position: relative;
}
.note{
    background-color: gray;
    height: 300px;
    width: 400px;
    margin-left: 64px;
    margin-right: 64px;
    /* position: relative; */
}

.operation{
 margin-left: 300px;
 z-index: 1;
}
.edit{
    font-size: 30px;
    padding: 5px;
}
.edit:hover{
    background-color: rgb(53, 53, 159);
    border-radius: 20px;
}
.delete{
    font-size: 30px;
    padding: 5px;
}
.delete:hover{
    background-color: red;
    border-radius: 20px;
}
.main{
    background-color: white;
    height: 300px;
    width: 400px;
    margin-left: 0px;
}
textarea{
    background-color: black;
    color: aliceblue;
    position: absolute;
    left: 64px;
    padding: 50px;
    top: 55px;
    height: 300px;
    width: 400px;
}

